@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono";
  background-color: rgb(97, 250, 8);
}

/* h1 {
  font-family: "Roboto Mono";
}

p {
  font-family: "Roboto Mono";
} */

img {
  display: block;
}

@media screen and (max-width: 800px) {
  img {
    width: 100vw;
    height: auto;
  }
}
